*{
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    background-color:#F0EFF2;
    margin: 0 auto;
}

body.login-page,
body.register-page {
  background-color: #fff !important;
}


input{
    width: 50vw;
    width: 800px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    /* align-items: center; */
    /* text-align: center; */
}


header{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    top: 0;

}

.header__logo img{
    width: 300px;
    height: fit-content;
    vertical-align: middle;
    margin-right: 20px;

}

.header__nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

}
.header__nav ul{
    display: flex;
    align-items: center;

}

.header__nav li:not(:last-child){
    margin-right: 30px;
}


.header__nav li:hover{
    font-weight: bold;
}

.header__logout{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.header__logout:hover{
    font-weight: bold;
}

.inner{
    /* width: 60vw; */
    width: 800px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
}


label{
    display: block;
    font-size: 20px;
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: left;
}

.page__title{
    font-size: 26px;
    font-weight: bold;
    margin: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.entry__name{
    font-weight: bold;
    /* text-align: left; */
    width: 800px;

}

.page__item{
    text-align: center;
}
.btn--big{
    width: 800px;
    height: 45px;
    margin-top: 70px;
    background-color: black;
    color: white;
    border: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
}

.disable a ,span{
    color: black
}

.error-message{
    display: block;
    color: rgb(240, 76, 76);
    text-align: left;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header__logo {
        width: 20vw;
    }
}
